.Resources {
	background-color: #483778;
}

.book-container {
	background-color: #483778;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.book img {
	border: 2px solid white;
	padding: 0;
}
.top {
	margin: 10px;
	gap: 25px;
	display: flex;
	justify-content: center;
}
.bottom {
	margin: 10px;
	gap: 25px;
	display: flex;
	justify-content: center;
}
.book-images {
	width: 20vw;
	height: auto;
}
